<div *ngIf="listing">
	<a [routerLink]="['/listings']">Go Back</a>
	<br>
	<h2 class="page-header">{{listing.title}}</h2>
	<div class="row">
		<div class="col-md-4">
			<!-- image here -->
			<img style="width: 100%" class="thumbnail" src="{{imageUrl}}">
		</div>
		<div class="col-md-8">
			<ul class="list-group">
				<li class="list-group-item">Bed Rooms: {{listing.bedrooms}}</li>
			</ul>
		</div>
		<a class="btn btn-default" [routerLink]="['/edit/'+listing.$key]">Edit</a>
		<a (click)="onDelete()" class="btn btn-danger">Delete</a>
	</div>
</div>