<a [routerLink]="['/listings']">Back</a>
<br>
<h2 class="page-header">Add Listing</h2>
<form (submit)="onAdd()">
	<div class="form-group">
		<label>Title</label>
		<input class="form-control" type="text" name="title" [(ngModel)]="title">
	</div>
	<div class="form-group">
		<label>Bed Rooms</label>
		<input class="form-control" type="number" name="bedrooms" [(ngModel)]="bedrooms">
	</div>
	<div class="form-group">
		<input id="image" type="file" name="image" [(ngModel)]="image">
	</div>
	<input type="submit" value="submit" class="btn btn-success">
</form>
